html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.message {
  text-align: center;
  font-size: 18px;
  color: #333333;
  padding: 20px;
}
