html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8151C6;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #ffff;
}

input {
  padding: 5px;
  margin-top: 5px;
  border-radius: 20px;
  outline: none;
  border: none;
}

button {
  margin-top: 10px;
  padding: 10px;
  background-color: #0065B7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7691cc;
}

.footer {
  margin-top: 60px;
  text-align: center;
  font-size: 14px;
  color: #ffff;
}

/* Adicionar regras de mídia para dispositivos móveis */
@media screen and (max-width: 480px) {
  .container {
    padding: 10px;
  }
  
  input, button {
    padding: 8px;
  }
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  animation: fadeIn 1s ease-in-out;
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
